.sidebar-wrapper {
    height: 100%;
    width: 20%;
    background-color: #dfe3ee;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.logo {
    width:100px;
    height: 100px;
    margin: 10px 0px;
    background-color: white;
    
    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.promotion-button {
    color: white;
    background-color:#0078ff;
    padding: 5px;
    font-size: 14px;
}