.sidebar-wrapper {
    min-height: 100vh;
    width: 20%;
    background-color: #dfe3ee;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width:170px;
    height: 76px;
    img {
        max-width: 100%;
        max-height: 100%;
    }
}