.header {
    width: 100%;
    background-color: 	#3b5998;
    display: flex;
}

.links{
    color: #ffffff;
    display: flex;
    align-items: center;
    margin: 0 10px;

    span {
        margin-left: 5px;
    }
}

.logo {
    width: 170px;
    height: 94px;
    flex-grow: 2;
    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.notifications {
    font-size: 12px;
    color: #ffffff;
    background-color: #ff0000;
    padding:5px;
}